<h1>CREATE A NEW HISTORICAL FIGURE</h1>

<form action="/figures" method="post">
  <h2>Name: <input type="text" name="figure[name]" id="figure_name" ></h2>
  <br>
  <h3>Assign Landmarks to your figure:</h3>
    <%Landmark.all.each do |landmark| %>
      <div>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%=landmark.id%>">
          <%=landmark.name%>
        </input>
      </div>
    <% end %>

    <br>

    Or make a new landmark: <input type="text" name="landmark[name]" id="new_landmark">

    <h3>Assign Titles:</h3>

    <%Title.all.each do |title| %>
      <div>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
          <%=title.name%>
        </input>
      </div>
    <%end%>

    <br>

    Create New Title: <input type="text" name="title[name]" id="new_title">
    <br>
    <br>
    <h3>Create New Figure: <input type="submit" value="Create New Figure"></h3>
</form>
